.my-form {
    -fx-background-color: #fff;
    -fx-border-color: #000;
    -fx-border-width: .4px .4px .2px .4px;

}

.semi-top-form{
      -fx-background-color: #efefef;
      -fx-border-color: #000;
      -fx-border-width: .2px .4px .8px .4px;
}

.close{
      -fx-background-color: transparent;
      -fx-cursor: hand;
}

.close: hover{
      -fx-background-color: #ff3457;

}

.minimize{
      -fx-background-color: transparent;
      -fx-cursor: hand;

}

.minimize: hover{
      -fx-background-color: #ddd;
}


.nav-form{
      -fx-background-color: linear-gradient(to bottom right, #272b3f, #256b51);
}


.nav-btn{
      -fx-background-color: transparent;
      -fx-cursor: hand;
      -fx-font-family: "Ariel";
      -fx-font-size: 14px;
      -fx-text-fill: #fff;
      -fx-alignment: CENTER_LEFT;
}

.logout{
      -fx-background-color: #256b51;
      -fx-background-radius: 10px;
      -fx-cursor: hand;

}

.logout: hover{
      -fx-background-color: #18a383;
}

.shadow{
      -fx-effect:dropshadow(three-pass-box, rgba(0,0,0,0.5), 6, 0, 0, 0,);
}

.white-bg{
       -fx-background-color:#fff;
       -fx-background-radius:8px;
}
.card{
       -fx-background-color:linear-gradient(to right, #2b303c, #525968);
       -fx-background-radius:5px;
}



.table-view {
    -fx-background-color: transparent;
    -fx-control-inner-background: transparent;
    -fx-border-color: #CCCCCC;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}



.table-view .table-column{
        -fx-alignment: CENTER;

}


.table-view .column-header-background{
       -fx-background-color:linear-gradient(to right, #272b3f, #256b51);
       -fx-background-insets: 0 0 0 0;
       -fx-background-radius:0px 0px 0px 0px;
        -fx-border-color: #555555;
}

.table-view .column-header, .filter{
        -fx-background-color: transparent;
        -fx-size:40px;


}

.table-view .table-cell {
    -fx-text-fill: black;
}
